h1 {
    text-align: center;
    background-color: #4a8c11;
    color: antiquewhite;
    width: 500px;
    margin: 20px auto;
    font-size: 50px;
    font-style: oblique;
    padding: 10px 2px;
    text-decoration: none;
    border-radius: 8px;
    }

.gif {margin: 0 650px;
    height: 300px;
    border: 2px solid black;
}

.block {   width: 600px;
    height: 200px;
    background-color:antiquewhite;
    border-radius: 12px;
    display: block;
    margin: 16px auto;
    padding: 8px; 
    border: 2px solid black ;
    border-color: black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

body{background-color: aquamarine;}

.recipe { 
    padding: 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    padding: 0px auto;
    text-align: right;
     
}